<a href="https://colab.research.google.com/github/aditya8075/NETFLIX-RECOMMENDATION-SYSTEM---CONTENT-BASED-FILTERING/blob/main/Netflix_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#reading_our_dataset
movies=pd.read_csv('/content/drive/MyDrive/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv')

In [ ]:
movies.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
#director #cast #shod_id #discription #type #listed in

In [ ]:
movies=movies[['show_id','type','director','cast','listed_in','description']]

In [ ]:
movies.head()

,show_id,type,director,cast,listed_in,description
0,s1,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...","International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",Dramas,A brilliant group of students become card-coun...

In [ ]:
# Info method usual gives imformation of Dataframes.
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   show_id      7787 non-null   object
 1   type         7787 non-null   object
 2   director     5398 non-null   object
 3   cast         7069 non-null   object
 4   listed_in    7787 non-null   object
 5   description  7787 non-null   object
dtypes: object(6)
memory usage: 365.1+ KB

In [ ]:
# finding how many null value are present in each column
movies.isnull().sum()

show_id           0
type              0
director       2389
cast            718
listed_in         0
description       0
dtype: int64

In [ ]:
movies.shape

(7787, 6)

In [ ]:
movies=movies.dropna(axis=0)

In [ ]:
movies.shape

(4979, 6)

In [ ]:
# Finding how many duplicate rows in our dataset
movies.duplicated().sum()

0

In [ ]:
movies.head(5)

,show_id,type,director,cast,listed_in,description
1,s2,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...","International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...

In [ ]:
movies.description.iloc[0]

'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'

In [ ]:
movies.description=movies.description.apply(lambda x : x.split(','))

In [ ]:
movies.director=movies.director.apply(lambda x : x.split(','))

In [ ]:
movies.cast=movies.cast.apply(lambda x : x.split(','))

In [ ]:
movies.listed_in = movies.listed_in.apply(lambda x : x.split(","))

In [ ]:
movies.type = movies.type.apply(lambda x : x.split(","))

In [ ]:
movies.head()

,show_id,type,director,cast,listed_in,description
1,s2,[Movie],[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...","[Dramas, International Movies]",[After a devastating earthquake hits Mexico Ci...
2,s3,[Movie],[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...","[Horror Movies, International Movies]","[When an army recruit is found dead, his fell..."
3,s4,[Movie],[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...","[Action & Adventure, Independent Movies, Sci...","[In a postapocalyptic world, rag-doll robots ..."
4,s5,[Movie],[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[Dramas],[A brilliant group of students become card-cou...
5,s6,[TV Show],[Serdar Akar],"[Erdal Beşikçioğlu, Yasemin Allen, Melis Bir...","[International TV Shows, TV Dramas, TV Myste...",[A genetics professor experiments with a treat...

In [ ]:
movies.cast=movies.cast.apply(lambda x : [i.replace(" ",'') for i in x])
movies.type=movies.type.apply(lambda x : [i.replace(" ",'') for i in x])
movies.director=movies.director.apply(lambda x : [i.replace(" ",'') for i in x])
movies.listed_in=movies.listed_in.apply(lambda x : [i.replace(" ",'') for i in x])

In [ ]:
movies.head()

,show_id,type,director,cast,listed_in,description
1,s2,[Movie],[JorgeMichelGrau],"[DemiánBichir, HéctorBonilla, OscarSerrano, Az...","[Dramas, InternationalMovies]",[After a devastating earthquake hits Mexico Ci...
2,s3,[Movie],[GilbertChan],"[TeddChan, StellaChung, HenleyHii, LawrenceKoh...","[HorrorMovies, InternationalMovies]","[When an army recruit is found dead, his fell..."
3,s4,[Movie],[ShaneAcker],"[ElijahWood, JohnC.Reilly, JenniferConnelly, C...","[Action&Adventure, IndependentMovies, Sci-Fi&F...","[In a postapocalyptic world, rag-doll robots ..."
4,s5,[Movie],[RobertLuketic],"[JimSturgess, KevinSpacey, KateBosworth, Aaron...",[Dramas],[A brilliant group of students become card-cou...
5,s6,[TVShow],[SerdarAkar],"[ErdalBeşikçioğlu, YaseminAllen, MelisBirkan, ...","[InternationalTVShows, TVDramas, TVMysteries]",[A genetics professor experiments with a treat...

In [ ]:
type(movies['cast'])

pandas.core.series.Series

In [ ]:
#def top4cast(obj):
 #  L=[]
  # for i in list(obj):
  #   if len(i) >= 5:
  #    L.append(i[:5])
   #  else:
   #   L.append(i)

   #return L

In [ ]:
#movies.cast=movies.cast.apply(top4cast)

In [ ]:
movies.cast.iloc[0]

['DemiánBichir',
 'HéctorBonilla',
 'OscarSerrano',
 'AzaliaOrtiz',
 'OctavioMichel',
 'CarmenBeato']

In [ ]:
movies['tags']= movies['type']+ movies['director'] + movies['cast'] + movies['listed_in'] + movies['description']

In [ ]:
movies.head()

,show_id,type,director,cast,listed_in,description,tags
1,s2,[Movie],[JorgeMichelGrau],"[DemiánBichir, HéctorBonilla, OscarSerrano, Az...","[Dramas, InternationalMovies]",[After a devastating earthquake hits Mexico Ci...,"[Movie, JorgeMichelGrau, DemiánBichir, HéctorB..."
2,s3,[Movie],[GilbertChan],"[TeddChan, StellaChung, HenleyHii, LawrenceKoh...","[HorrorMovies, InternationalMovies]","[When an army recruit is found dead, his fell...","[Movie, GilbertChan, TeddChan, StellaChung, He..."
3,s4,[Movie],[ShaneAcker],"[ElijahWood, JohnC.Reilly, JenniferConnelly, C...","[Action&Adventure, IndependentMovies, Sci-Fi&F...","[In a postapocalyptic world, rag-doll robots ...","[Movie, ShaneAcker, ElijahWood, JohnC.Reilly, ..."
4,s5,[Movie],[RobertLuketic],"[JimSturgess, KevinSpacey, KateBosworth, Aaron...",[Dramas],[A brilliant group of students become card-cou...,"[Movie, RobertLuketic, JimSturgess, KevinSpace..."
5,s6,[TVShow],[SerdarAkar],"[ErdalBeşikçioğlu, YaseminAllen, MelisBirkan, ...","[InternationalTVShows, TVDramas, TVMysteries]",[A genetics professor experiments with a treat...,"[TVShow, SerdarAkar, ErdalBeşikçioğlu, Yasemin..."

In [ ]:
movies_md = movies[['show_id','tags']]

In [ ]:
movies_md.head()

  show_id                                               tags
1      s2  [Movie, JorgeMichelGrau, DemiánBichir, HéctorB...
2      s3  [Movie, GilbertChan, TeddChan, StellaChung, He...
3      s4  [Movie, ShaneAcker, ElijahWood, JohnC.Reilly, ...
4      s5  [Movie, RobertLuketic, JimSturgess, KevinSpace...
5      s6  [TVShow, SerdarAkar, ErdalBeşikçioğlu, Yasemin...

In [ ]:
movies_md.tags.iloc[0]

['Movie',
 'JorgeMichelGrau',
 'DemiánBichir',
 'HéctorBonilla',
 'OscarSerrano',
 'AzaliaOrtiz',
 'OctavioMichel',
 'CarmenBeato',
 'Dramas',
 'InternationalMovies',
 'After a devastating earthquake hits Mexico City',
 ' trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.']

In [ ]:
movies_md['tags']=movies_md['tags'].apply(lambda x : " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
movies_md['tags']=movies_md['tags'].apply(lambda x : x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
movies_md.tags.iloc[0]

'movie jorgemichelgrau demiánbichir héctorbonilla oscarserrano azaliaortiz octaviomichel carmenbeato dramas internationalmovies after a devastating earthquake hits mexico city  trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(text):
  y=[]
  for i in text.split():
      y.append(ps.stem(i))
  return " ".join(y)

In [ ]:

movies_md['tags']=movies_md['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(stop_words='english',max_features=5000)

In [ ]:
vectors=vectorizer.fit_transform(movies_md['tags']).toarray()

In [ ]:
vectors.shape

(4979, 5000)

In [ ]:
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
 from sklearn.metrics.pairwise import cosine_similarity
 similarity=cosine_similarity(vectors)

In [ ]:
similarity[2]

array([0.00156436, 0.00171711, 1.        , ..., 0.00134953, 0.00217259,
       0.052608  ])

In [ ]:
def recommend(movie):
    index = movies_md[movies_md['show_id'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies_md.iloc[i[0]].show_id)

In [ ]:
recommend('s19')

s7685
s1374
s4322
s5362
s2620

In [ ]:
movies_md[movies_md['show_id']=='s4322']

     show_id                                               tags
4321   s4322  movi nanaekvtimishvili simongross iashugliashv...